[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
p4python = "*"
boto3 = "*"
fabric = "*"
requests = "*"
docker = "*"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.9"
